/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222830;
}
label{
   color: aliceblue;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 3px;
}
ul {
  list-style-type: none;
}
.slider-thick{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.option{
  list-style-type: none;
  width: 70%;
}
.top-container {
  width: 100%;
  height: 100px; 
  position: absolute;
  top: 0;
  left: 0;
  background-color: #393f47; 
}
.columns{
  display: grid;
  grid-template-columns: 50% 50%;
  max-height: fit-content;
}
.grid-5-columns{
  display: grid;
  grid-template-columns: 30% 20% 20% 30% ;
  max-height: fit-content;
  margin: 3px 10px;
}
.grid-5-columns div {
  border-right: 1px solid rgb(40, 42, 52);
  padding-right: 10px; /* Добавляем отступ, чтобы отделить содержимое от рамки */
}

/* Отключаем границу для последнего элемента, чтобы не было лишнего отступа вправо */
.grid-5-columns div:last-child {
  border-right: none;
}

.button-container {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-left: 10px;
}
.square-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #ccc;
  background-color: #4d535a;
  border: 1.5px solid #1f242b;
  border-radius: 10px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.Tools .options{
  display: flex;
  justify-content: center;
}
.rectangle{
  background-image: url("img/square-pt-svgrepo-com.svg  ");
}
.circle{
  background-image: url("img/circle-tool-svgrepo-com.svg");
}
.triangle{
  background-image: url("img/triangle-tool-svgrepo-com.svg");
}
.fill-color{
  background-image: url("img/bucket-svgrepo-com (1).svg");
}
.line{
  background-image: url("img/line-tool-svgrepo-com.svg");
}
.brush{
  background-image: url("img/brush-2-svgrepo-com.svg");
}
.eraser{
  background-image: url("img/eraser-svgrepo-com.svg");
}
.container {
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  height: 86%;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1450px;
}
section{
  background: #fff;
  border-radius: 7px;
}
.option:is(:hover, .active) img{
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span, label){
  color: #c7c9ca;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
  color: #4A98F7;
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label{
  color: #4A98F7;
}
.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options{
  display: flex;
  justify-content:center;
  gap: 5px;
  margin-top: 24px;
}
.colors .option{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1){
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
  background-color: #000;
}
.colors .option:nth-child(3){
  background-color: #E02020;
}
.colors .option:nth-child(4){
  background-color: #6DD400;
}
.colors .option:nth-child(5){
  background-color: #4A98F7;
}
.colors .option.selected::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
  border-color: #ccc;
}
.option #color-picker{
  opacity: 0;
  cursor: pointer;
}
.buttons button{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas{
  color: #ffffff;
  border: 1px solid #6C757D;
  transition: all 0.3s ease;
}
.clear-canvas:hover{
  color: #fff;
  background: #6C757D;
}
.buttons .save-img{
  background: #4A98F7;
  border: 1px solid #4A98F7;
}
.weird-stuff{
  display: flex;
  align-items: center;
  justify-content: center;
}
.weird-stuff .checkk{
  margin-left: 27px;
  margin-top: 7px;
}
.buttons .open-img{
  background: #4A98F7;
  border: 1px solid #4A98F7;
}
.drawing-board{
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas{
  width: 100%;
  height: 100%;
}
.stubborn-btns{
  display: flex;
  flex-direction: row;
  height: 75%;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  gap: 10px; /* Adjust this property to add spacing between the buttons */
  margin-left: 20px;
  width: 320px;
  height: 80%;
}
.Options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 5px;
}
.option {
  margin-bottom: 1em;
}

html, body {
  height: 100%;
}